<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><font color="blue">Bienvenido a <%= title %></font></h1>
    <p>Mi portal web donde podre crear mi propia Pagina</p>
  </body>
</html>
